$main-color:pink;
$bg-color: #1e1e1e;


@mixin button(){
    cursor: pointer;
    background: rgb(209, 106, 106);
    color: #fff;
   padding: 10px 30px;
   outline: none;
   font-size: 17px;
   font-style: italic;
   font-weight: 400;
}
@import "header";

body{
    overflow-x:hidden;
    font-family: 'Roboto', sans-serif;
}

#home{
    position: relative;
   
 
     width: 100vw;
    
   padding:50px;
     background-image: url('./assets/images/danielle-cerullo-CQfNt66ttZM-unsplash\ \(2\).jpg');
     background-attachment: fixed;
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
       &::before{
           position: absolute;
           top:0;
           bottom: 0;
           left: 0;
           right: 0;
           height: 100%;
           width: 100%;
           content: '';
           background: rgba(31, 22, 3, 0.8);
           opacity:0.7;
       }
       .start{
        .btn {
          cursor: pointer;
          background: red;
          color: #fff;
          border: none!important;
          padding: 8px 10px;
          outline: none;
          font-size: 15px;
          border-radius: 39px;
          font-weight: bold;
          
  font-style: normal;
  text-transform: capitalize;
      }
       }
.new{
  .btn {
    cursor: pointer;
    background: red;
    color: #fff;
    border: none!important;
    padding: 8px 10px;
    outline: none;
    font-size: 15px;
    border-radius: 39px;
    font-weight: bold;
    
  font-style: normal;
  text-transform: capitalize;
  }

}
img{
  width:70%;
  object-fit:cover;
}
.fa-youtube:before {
  color: red;
  content: "\f167";
  background: gray;
  padding: 6px;
  border-radius: 31px;
  margin: 10px 0;
  margin-right: 10px;
}
}

  
    h3{
        font-size: 2.5rem;
      
        margin-bottom: 30px;
    }
    .btn{
        @include button();
       
    }
    .icons{
        position: absolute;
        bottom: 0;
        left: 10px;
        z-index: 1000;
        .fab{
            margin-right: 10px;
            font-size: 30px;
            color: red;
            background:$main-color;
            border-radius:50px ;
            outline: none;
            border:none;
        }
    }

    




#home *{
    z-index:170;
}


#slider{
background-color: #ececec;


.item{
  background-color: rgb(56, 185, 185);
  border: none;
  padding-left: 10px;
 
  // width:200px;
  // height: 200px;
  img{
    width:50%;
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 200px;
    padding:10px;
    }
}
}
#footer{
    width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(lightblue));
    color: #fff;
    .logo{
      font-style: italic;
      font-weight: bold;
      font-size: 20px;
      padding-left: 10px;
  }
  span{
    color: $main-color;
    font-size: 20px;
    font-style: italic;
  
}
    ul{
  
        list-style: none;
        margin-top: 10px;
        li{
            font-style: 15px;
            font-weight: 200;
        }
    }
    .fas, .fab {
     

      color: #bfacac;
      margin-right: 20px;
  }
  span{
    text-align: center;
  }
  h4{
    font-size: 1rem;
  margin-left:40px;
  }
}

@media screen and (max-width:767px){
    #home{
        h1{
            font-size: 2.5rem;
            font-style: italic;
        }
        h3{
            font-size: 1.5rem;
            font-style: italic;
            margin-bottom: 30px;
        }

        .wave{
            right: 0;
        }
    }

    #features {

        background: linear-gradient(to bottom, #ececec, rgba(0,233,200, 0.9));
        .card{
            height: auto;
            margin-bottom: 5px;
        }
        .card img{
            width: 100%;
            height: 300px;
        }
        h3,h1{
            font-style: italic;
            color: $bg-color;
            font-size: 24px;
            font-weight: bold;
        }
        h3{
            border-bottom: 1px dotted #1b1b2c;
            font-size: 20px;
    
    padding-bottom: 10px;    }
    
    p{
        justify-content: center;
    }
    }

    #about{
        justify-content: center;
        h3,h2{
            text-align: center;
        }
        .buttons{
            .btn{
            
                margin: 5px 20px;
                width: 120px;
            }
        }
      
    }
    #gallery{
        .card{
            margin-bottom: 10px;
        }
    }
}